<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alpha Dynamica, Inc. - Style Guide</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" href="#" src="images/ad_logo.png"></img>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav" style="color:white; margin: 10px">
                <h5>Alpha Dynamica, Inc. Style Guide</h5>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#logo_types"><i class="fa fa-fw fa-dashboard"></i><h5>Logo Types</h5></a>
                    </li>
                    <li>
                        <a href="#color_details"><i class="fa fa-fw fa-table"></i><h5>Color Details</h5></a>
                    </li>
                    <li>
                        <a href="#typefaces"><i class="fa fa-fw fa-edit"></i><h5>Typefaces</h5></a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw" id="logo_types"></i> Logo Types</h3>
                            </div>
                            <div class="panel-body">
                               <div class="col-md-12 col-centered">
                                   <h3 class="subhead">Guidelines</h3> 
                                                      The cornerstone of the Alpha Dynamica, Inc. visual identity is the logo. Our logo comes in four approved versions as pictured below. 
                                                      Please familiarize yourself with these logos and apply them accordingly in your correspondences.
                                   </br></br>
                                   <h3 class="subhead">Do NOT</h3>
                                    • alter our logos in any way</br>
                                    • place a logo in such close proximity to other content that it is indistinguishable</br>
                                    • make our logo the most distinctive or prominent feature on your website, printed material or other content</br>                                 
                                    • use our logos in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person</br>
                                    • use our logos on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities</br>
                                    • use our logos to, or in connection with, content that disparages us or sullies our reputation</br>
                               </div>
                               <div class="col-md-6 centered">
                                   <div class="col-md-12 col-centered">
                                        <div style="text-align:center">
                                           <img class="thumb" src="images/ad_vertical_lockup.png">
                                           <h4>Primary - Vertical Lockup</h4>                                                                              
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">The above is the primary version of the Alpha Dynamica, Inc. logo. This logo
                                                                              should be used whenever possible.
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                        </div>
                                    </div>   
                                </div>
                               <div class="col-md-6 centered">
                                   <div class="col-md-12 col-centered">
                                        <div style="text-align:center">
                                           <img class="thumb_alt" src="images/ad_vertical_inverse.png">
                                           <h4>Vertical Lockup Inverse</h4>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">The above is the alternate version of the vertical lockup. It is intended to be used 
                                                                              when the logo needs to be placed against a light-colored or white background.
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                        </div>
                                    </div>                                        
                                </div>
                               <div class="col-md-6 centered"> 
                                   <div class="col-md-12 col-centered">
                                        <div style="text-align:center">
                                           <img class="thumb" src="images/ad_logo_thumb.png">
                                           <h4>Horizontal Lockup</h4>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">The above is the horizontal lockup version of the logo. It is intended to be used 
                                                                              when the logo needs to be placed against a light-colored or white background.
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                        </div>
                                    </div>  
                               </div>
                               <div class="col-md-6 centered">
                                      <div class="col-md-12 col-centered">
                                        <div style="text-align:center">
                                           <img class="thumb" src="images/ad_symbol.png">
                                           <h4>Symbol</h4>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">The symbol version of the logo may be used when a cleaner aesthetic is required, or if
                                                                              the text portion of the logo becomes illegible upon primary logo resize.
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                        </div>
                                    </div>  
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- /.row -->
                
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw" id="color_details"></i> Color Details</h3>
                            </div>
                            <div class="panel-body">
                               <div class="col-md-12 col-centered">
                                   <div class="col-md-3 col-centered">
                                       <div class="swatch" id="colorA">
                                       </div>                                       
                                           <div class="col-md-4 col-centered"></div>
                                       <div class="col-md-4 col-centered">Pantone:</br>
                                                                              485 C
                                                                              </br></br>
                                                                              CMYK:</br>
                                                                              0, 99, 97, 0
                                                                              </br></br>
                                                                              RGB:</br>
                                                                              238, 29, 37
                                                                              </br></br>
                                                                              Web:</br>
                                                                              #EE1F25
    
                                                                              
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                    </div>                                
                                   <div class="col-md-3 col-centered">
                                       <div class="swatch" id="colorB"></div>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">Pantone:</br>
                                                                              1805 C
                                                                              </br></br>
                                                                              CMYK:</br>
                                                                              23, 100, 100, 17
                                                                              </br></br>
                                                                              RGB:</br>
                                                                              167, 29, 33
                                                                              </br></br>
                                                                              Web:</br>
                                                                              #A71D21
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                   </div>                                
                                   <div class="col-md-3 col-centered">
                                       <div class="swatch" id="colorC"></div>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">Pantone:</br>
                                                                              Pure Black
                                                                              </br></br>                                        
                                                                              CMYK:</br>
                                                                              75, 68, 67, 90
                                                                              </br></br>
                                                                              RGB:</br>
                                                                              00, 00, 00
                                                                              </br></br>
                                                                              Web:</br>
                                                                              #000000
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                   </div>                                
                                   <div class="col-md-3 col-centered">                                        
                                        <div class="swatch" id="colorD"></div>
                                           <div class="col-md-4 col-centered"></div>
                                           <div class="col-md-4 col-centered">Pantone:</br>
                                                                              Pure White
                                                                              </br></br>
                                                                              CMYK:</br>
                                                                              75, 68, 67, 90
                                                                              </br></br>
                                                                              RGB:</br>
                                                                              255, 255, 255
                                                                              </br></br>
                                                                              Web:</br>
                                                                              #FFFFFF    
                                           </div>
                                           <div class="col-md-4 col-centered"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw" id="typefaces"></i> Typefaces</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6 col-centered">
                                   <h3 class="subhead">Copperplate Gothic Regular</h3> 
                                                      This is the primary font that is reserved for headlines and callouts.
                                   </br></br>                                  
                               </div>
                               <div class="col-md-6">
                                   <div class="subhead"><h3>Copperplate Gothic Reg.</h3></br>
                                     ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
                                     abcdefghijklmnopqrstuvwxyz</br>
                                     0123456789 (.,;:’”$#@!&*) 
                                   </div>
                               </div>
                               <div class="col-md-6 col-centered"><hr>
                                   <h3 class="subhead_alt">Roboto</h3> 
                                                      Use for body copy on the Web and in print.
                                   </br></br>                                  
                               </div>
                               <div class="col-md-6"><hr>
                                   <div class="subhead_alt"><h3 class="subhead_alt">Roboto</h3></br>
                                     ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
                                     abcdefghijklmnopqrstuvwxyz</br>
                                     0123456789 (.,;:’”$#@!&*) 
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
