
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    height: 5%;   
}
.navbar-inverse {
    background-color: #222;
    border-color: #BF1D23;
    height: 6%;
}
.nav .navbar-right top-nav{
}
.navbar-inverse .navbar-nav>.active>a{
    color: #fff;
    background-color: #F91D25;
}
.navbar-inverse .navbar-nav>a:hover{
    color: #fff;
    background-color: #9A1D21;
}
.navbar-brand {
    float: left;
    height: 100%;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.side-nav {
    position: fixed;
    top: 6%;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    box-shadow: 2px 2px 5px #222;
}
.side-nav>li>a {
    width: 225px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
}
h3{
    font-family:'copperplate_gothicregular';
    font-weight:normal;
    font-style:normal;
    font-size:26px;
}
h4{
    color:#fff;
    font-family:'copperplate_gothicregular';
    text-decoration:underline;
    font-size:20px;
}
h5{
    color:#fff;
    font-family:'copperplate_gothicregular';
    font-size:18px;
}
.col-md-4{
    color:#aaa;
    text-align:left;
    font-size:12px;
    line-height:14px;
}
.col-md-12{
    color:#aaa;
    text-align:left;
    font-size:12px;
    line-height:14px;
    padding:20px;
    font-family: 'Roboto', sans-serif;
}
.col-md-6{
    color:#aaa;
}
.panel-default {
    border-color: #666;
    box-shadow: 0px 0px 10px black;
}
.panel-default>.panel-heading {
    color: #FFF;
   background-image: linear-gradient(to bottom,#ee1f25,#a71d21);
    border-color: #ddd;
}
#page-wrapper {
    padding: 10px;
    background-color: #444;
}
.panel-default {
    border-color: #666;
}
.panel-body {
    padding: 25px;
    background-color:#333;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title{
    font-size:24px;
}
.thumb{
    margin:10px 50px 30px 50px;
    padding:25px;
    border: 1px solid #666;
}
.thumb_alt{
    margin:10px 50px 30px 50px;
    padding:25px;
    background-color:white;
    border-radius: 5px;
}

.swatch {
    border: 10px solid #fff;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 20px;
}
#colorA{
    background-color: #ee1f25;
    /*background-image: linear-gradient(to bottom,#ee1f25,#a71d21);*/
}
#colorB{
    background-color:#a71d21;
}
#colorC{
    background-color:#000;
}
#colorD{
    background-color:#FFF;
}
.container{
    color:#aaa;
    margin:20px;
    align-content: center;
}
@font-face {
    font-family: 'copperplate_gothicregular';
    src: url('fonts/copperplate_gothic_regular-webfont.eot');
    src: url('fonts/copperplate_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/copperplate_gothic_regular-webfont.woff2') format('woff2'),
         url('fonts/copperplate_gothic_regular-webfont.woff') format('woff'),
         url('fonts/copperplate_gothic_regular-webfont.ttf') format('truetype'),
         url('fonts/copperplate_gothic_regular-webfont.svg#copperplate_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.subhead{
    color:white;
    font-size:25px;
    font-family: 'copperplate_gothicregular';
    line-height:26px;
}
.subhead_alt{
    color:white;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
    line-height:28px;
}
hr{
    color:white;
}
#page-wrapper{
    height:1600px;
    background-color:#333;
}